.outer-paper {
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    width: 60%;
  }

.AppBar {
    border-top: 2px solid #d32f2f;
    background-color: #fff!important;
    color: rgba(0,0,0,.84)!important;
    display: flex;
    justify-content: space-between;
}

.Title {
    font-weight: 500;
    font-family: "Roboto";
    line-height: 1.16667em;
    font-size: 1.3125rem;
}

.HomepageHeader {
    background-image: url('./BackgroundHomepage.png');
    width: calc(100% + 16px);
    margin: -8px;
    color:#FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 100px 50px;
}

.HomepageHeader h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 220%;
    font-weight: 700;
    font-style: normal;
}

.HomepageHeader p {
    font-family: 'Libre Baskerville', serif;
    letter-spacing: .05em;
    line-height: 1.58;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 120%;
    vertical-align: baseline;
    background: transparent;
}

.jss177 {
    color: rgb(255, 255, 255);
    fill: currentColor;
    width: 24px;
    height: 24px;
    display: inline-block;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    user-select: none;
    flex-shrink: 0;
}

.newBatch {
    margin-top: -55px;
    margin-bottom: 100px;
}

.NewBatchForm {
    display: flex;
    justify-content: space-between;
}

.createQuiz {
    color: #d32f2f;
}

.CardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.batchCard {
    display: inline;
    height: 200px;
    width: 400px;
    margin: 30px;
    background-image: url('./CardBackground.png');

}

.batchCard h1 {
    color: #FFF;
    font-family: 'Poppins';
    padding: 40px;
}

.BatchPage h1 {
    font-family: 'Poppins';
    font-size: 70px;
    font-weight: bold;
    margin: auto;
    margin-top: 20px;
    margin-bottom: -30px;
    padding: 20px;
    width: 60%;
}

.Percentage{
    border: none;
    height: 32px;
    cursor: default;
    padding: 0;
    display: inline-flex;
    outline: none;
    font-size: 0.8125rem;
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    white-space: nowrap;
    align-items: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    border-radius: 16px;
    justify-content: center;
    background-color: 'green'
}

.BatchInfo {
    padding: 20px;
    width: 60%;
    margin: auto;
}

.SignIn {
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    width: 40%;
}

.TextField {
    width: 90%;
}

.Submit {
    margin-top: 20px;
}

.Percentage {
    padding: 0 12px;
    border-radius: 32px;
    font-size: 15px;
    margin: 5px;
    color: #FFF;
    font-weight: 500;
    margin-bottom: 100px;
}

.StudentContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.studentCard {
    width: 300px;
    height: 410px;
    margin-bottom: 80px;
    margin-left: 20px;
    margin-right: 20px;
}

.PictureContainer {
    width: 300px;
    height: 300px;
}

.StudentPicture {
    max-width: 100%;
    height: auto;
    align-self: flex-start;
}

.evaluation-bottom {
    height: 15px;
    width: 300px;
}

.evaluation {
    height: 30px;
    width: 120px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.evaluation p {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

#RandomStudent {
    border: rgb(0, 147, 213)
}

.Buttons {
    display: flex;
    flex-direction: row;
    margin:0 20px 20px 20px;
    flex-wrap: wrap;
}

.evaluation-buttons {
    background-color: #FFF;
    margin: 15px;
    width: 120px;
    font-family: 'Roboto';
    font-weight: 400;
    border: 2px solid;
    padding: 15px; 
    border-radius: 30px;
    font-size: 20px;
}

.green{
    color: rgb(102, 187, 106);
    border-color: rgb(102, 187, 106);    
}

.yellow {
    color: rgb(245, 183, 35);
    border-color: rgb(245, 183, 35);
}

.red {
    color: rgb(211, 47, 47);
    border-color: rgb(211, 47, 47)    
}

.green:hover {
    color: #fff;
    background-color: rgb(102, 187, 106);
}

.yellow:hover {
    background-color: rgb(245, 183, 35);
    color: #fff;
}

.red:hover {
    background-color: rgb(211, 47, 47);
    color: #fff;
}
.PictureAndForm {
    width: 350px; 
}

.student-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.student-page-main {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
}

.student-page-picture {
    width: 100%;
    height: auto;
    align-self: flex-start;
    margin: 5px;
}

.student-page-studentname {
    margin-left:35px;
    margin-top: 40px;
    font-family: 'Poppins'
}

.student-page-name-button {
    display: flex;
    flex-direction: column;
}

.edit-student {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 5px;
}

.edit-student-button{
    margin-left:35px;
    text-decoration: underline;
    font-family: 'Roboto';
}

.student-page-table {
    width: 50%;
    /* display: flex;
    flex-direction: column; */
}

.student-page-table h1 {
    padding: 20px;
    font-weight: normal;
}

.evaluation-date-remark {
    display: flex;
    margin-left: 35px;
    margin-bottom: 35px;
    flex-wrap: wrap;
}